body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Define estilos para elementos HTML padrão */
h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

/* Define estilos para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Define estilos para imagens */
img {
  max-width: 100%;
  display: block;
}

/* ---------- Cabeçalho ---------- */

.header-bg {
  background-color: #010710;
}

/* Define estilos para o cabeçalho */
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Define estilos para o menu de navegação */
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* Define estilos para links no menu de navegação */
.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

/* Efeito de linha sob os links no menu */
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.23s;
  position: absolute;
}

/* Efeito de expansão da linha sob os links no menu quando passa o mouse */
.header-menu a:hover:after {
  width: 100%;
}

/* Estilos para telas menores (max-width: 800px) */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
}

/* Estilos para telas menores (max-width: 600px) */
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* ---------- Seção de Introdução ---------- */

/* Estilos para a seção de introdução na página inicial */
.introducao-bg {
  background-image: url(../img/images/home/search.png);
  background-position: center;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estilos para o título na seção de introdução */
.introducao h1 {
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 40px;
}

.introducao {
  display: flex;
  align-items: center;
}

/* Estilos para o contêiner de busca na seção de introdução */
.container-busca {
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  background: #f8f8f8;
  height: 160px;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

/* Estilos para o campo de busca */
.busca {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #595959;
  background: #dedede;
  width: 608px;
  height: 70px;
  border-radius: 7.5px;
  line-height: 2.13333;
  gap: 32px;
}

/* Estilos para o ícone no campo de busca */
.busca img {
  margin: 0px 0px 0px 40px;
  width: 18px;
  height: 24px;
}

/* Estilos para o campo de busca */
#campo-busca {
  background: #dedede;
  color: #595959;
  border: none;
  font-size: 16px;
}

#campo-busca:focus {
  outline: none;
}

/* Estilos para o botão do campo de busca */
.botao-form {
  background: linear-gradient(#002966, #001c45);
  color: white;
  border: none;
  border-radius: 7.5px;
  font-size: 18px;
  padding: 32px 70px;
  cursor: pointer;
  text-transform: uppercase;
}

.botao-form:hover {
  background: linear-gradient(#0b2a5a, #011530);
}

/* Estilos introdução para telas menores (1200px pra baixo)*/
@media (max-width: 1200px) {
  .introducao-bg {
    padding: 0;
    height: 450px;
  }
  .introducao h1 {
    font-size: 48px;
  }
  .container-busca {
    height: 140px;
  }
  .busca {
    width: 500px;
    height: 60px;
  }
  #campo-busca {
    font-size: 14px;
  }
  .botao-form {
    padding: 26px 64px;
  }
}

/* Estilos introdução para telas menores (800px pra baixo)*/
@media (max-width: 800px) {
  .introducao-bg {
    height: 350px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .container-busca {
    width: 550px;
    height: 110px;
  }
  .busca {
    height: 50px;
    gap: 20px;
  }
  .busca img {
    width: 14px;
    height: 20px;
    margin: 0px 0px 0px 20px;
  }
  #campo-busca {
    font-size: 13px;
  }
  .botao-form {
    font-size: 14px;
    padding: 22px 58px;
  }
}

/* Estilos introdução para telas menores (600px pra baixo)*/
@media (max-width: 600px) {
  .introducao-bg {
    height: 300px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .container-busca {
    width: 450px;
    height: 90px;
    gap: 0px;
  }
  .busca {
    width: 350px;
    height: 46px;
    font-size: 10px;
    gap: 20px;
    border-radius: 7.5px 0px 0px 7.5px;
  }
  .busca img {
    width: 14px;
    height: 20px;
    margin: 0px 0px 0px 20px;
  }
  #campo-busca {
    font-size: 12px;
  }
  .botao-form {
    font-size: 14px;
    padding: 15px 38px;
    border-radius: 0px 7.5px 7.5px 0px;
  }
}
