.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  background: var(--cor-b6);
  color: var(--cor-0);
  border: none;
  border-radius: 8px;
  padding: 32px 70px;
  cursor: pointer;
  font: 500 1.125rem "Poppins", sans-serif;
}

.botao:hover {
  background: var(--cor-b7);
}

.titulo-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--cor-11);
}

.titulo P {
  margin-bottom: 20px;
}
