.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.titulo-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--cor-11);
}

.titulo P {
  margin-bottom: 20px;
}
