#contato {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0);
}

.contato-form {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-b11);
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

.contato-logo img {
  margin-top: 20px;
  margin-bottom: 50px;
}

.contato-meios {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 24px;
  padding-left: 28px;
}

.contato-meios a:hover {
  color: var(--cor-0);
}

.contato-meios a:first-child {
  background: url(../../img/logo-contato/email.svg) no-repeat 0px 4px;
}

.contato-meios a:nth-child(2) {
  background: url(../../img/logo-contato/telefone.svg) no-repeat 0px 4px;
  margin-bottom: 50px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .contato-form {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }
  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
  #contato {
    background: linear-gradient(var(--cor-11) 500px, var(--cor-1) 0);
  }
}

@media (max-width: 768px) {
  .contato-meios,
  .contato-dados {
    font-size: 1.125rem;
  }
  .contato-logo img {
    width: 210px;
    height: auto;
  }
  .contato-redes a {
    width: 27px;
    height: auto;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .contato-redes a {
    width: 27px;
    height: auto;
    margin: 0 auto;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
}
