body {
  margin: 0px;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

/* Define estilos para elementos HTML padrão */
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

/* Define estilos para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Define estilos para imagens */
img {
  max-width: 100%;
  display: block;
}

img[src$=".png"] {
  border-radius: 10px;
}
