/* ---------- Cabeçalho ---------- */

.header-bg {
  background-color: var(--cor-b11);
}

/* Define estilos para o cabeçalho */
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Define estilos para o menu de navegação */
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* Define estilos para links no menu de navegação */
.header-menu a {
  color: var(--cor-0);
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  font: 400 1.125rem "Roboto", sans-serif;
}

.header-menu a:hover {
  color: var(--cor-b2);
  transition: 0.23s;
}
