.imoveis-lista {
  padding-top: 40px;
}

.imoveis-lista h2 {
  margin-bottom: 40px;
  color: var(--cor-11);
  font: 600 1.75rem/1.42 "Poppins", sans-serif;
}

.imoveis-lista ul {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin-bottom: 40px;
}

.imoveis-lista img {
  margin-bottom: 12px;
  height: auto;
  max-width: 100%;
}

.imoveis-lista h3 {
  color: var(--cor-11);
  font: 600 1.125rem/1.42 "Poppins", sans-serif;
  display: flex;
  align-items: center;
}

.imoveis-lista h3::before {
  content: "";
  background-color: var(--cor-b3);
  height: 8px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 1px;
  transition: width 0.22s;
}

.imoveis-lista a:hover h3::before {
  width: 22px;
}

.imoveis-lista li p {
  margin-left: 20px;
  margin-bottom: 14px;
  color: var(--cor-8);
  font: 400 1rem "Roboto", sans-serif;
}

.imoveis-imagem {
  position: relative;
}

.span-home {
  background-color: var(--cor-b6);
  display: inline-block;
  padding: 8px 16px 8px 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  font: 400 0.875rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.563);
}

.preco {
  margin-left: 20px;
  display: block;
  color: var(--cor-10);
  font: 600 1.125rem/1 "Poppins", sans-serif;
}

.botao-ver-todos {
  text-align: center;
  margin-bottom: 80px;
}

.botao-ver-todos a {
  display: inline-block;
  padding: 15px 40px;
  background: var(--cor-b6);
  color: var(--cor-0);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font: 500 1rem "Poppins", sans-serif;
}

.botao-ver-todos a:hover {
  background: var(--cor-b7);
}

/* Media Queries*/
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .span-home {
    padding: 5px 10px 5px 10px;
    font: 400 0.75rem "Poppins", sans-serif;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.01);
  }
}

@media (max-width: 768px) {
  .botao-ver-todos a {
    font: 400 1.125rem "Poppins", sans-serif;
  }
}

@media (max-width: 600px) {
  .imoveis-lista ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .imoveis-lista img {
    max-width: 100%;
    height: auto;
  }
  .imoveis-lista h3 {
    font: 600 1.25rem/1.42 "Poppins", sans-serif;
  }
  .imoveis-lista li p {
    font: 400 1.125rem "Roboto", sans-serif;
  }
  .preco {
    font: 600 1.25rem/1 "Poppins", sans-serif;
  }
}

@media (max-width: 480px) {
}
