.termos {
  padding-top: 60px;
  padding-bottom: 0px;
}

.termos h2 {
  margin-bottom: 5px;
}

.termos p {
  max-width: 115ch;
  margin-bottom: 22px;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .termos {
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}
